.bg-img {
  background-image: url(
"../../assets/Recipe1.png");
  min-height: 100%;
  height: 700px;
  background-size: cover;
}

.logout{
  background-color: red;
  height: 30px;
  text-align: right;
  right: 40px;
  position: absolute;
}


